discovery.docker "vodcoach" {
  host             = "unix:///var/run/docker.sock"
  refresh_interval = "5s"

  filter {
    name   = "label"
    values = ["vodcoach.logs=enabled"]
  }
}

discovery.relabel "vodcoach" {
  targets = discovery.docker.vodcoach.targets

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = "/(.*)"
    target_label  = "container"
  }

  rule {
    source_labels = ["__meta_docker_container_label_com_docker_compose_service"]
    target_label  = "service_name"
  }

  rule {
    source_labels = ["__meta_docker_container_label_com_docker_compose_project"]
    target_label  = "compose_project"
  }
}

loki.source.docker "vodcoach" {
  host       = "unix:///var/run/docker.sock"
  targets    = discovery.relabel.vodcoach.output
  forward_to = [loki.process.vodcoach.receiver]
}

loki.process "vodcoach" {
  forward_to = [loki.write.local.receiver]

  stage.json {
    expressions = {
      level = "level",
    }
  }

  stage.labels {
    values = {
      level = "",
    }
  }
}

loki.write "local" {
  endpoint {
    url = "http://loki:3100/loki/api/v1/push"
  }
}
